In [1]:
a = 25
b="Joshua"
print(a)
print(b)

25
Joshua

In [3]:
x = 250
x = "Jacob"
print(x)

Jacob

In [5]:
x = str(30)
y=int(250.23)
z=float(3)
print(x)
print(y)
print(z)

30
250
3.0

In [7]:
x = 5.23
y = "welcome"
print(type(x))
print(type(y))

<class 'float'>
<class 'str'>

In [8]:
a,b,c="DOG","CAT","HORSE"
print(a)
print(b)
print(c)

DOG
CAT
HORSE

In [9]:
a=b=c="LION"
print(a)
print(b)
print(c)

LION
LION
LION

In [10]:
Animals = ["DOG","CAT","HORSE"]
x,y,z = Animals
print(x)
print(y)
print(z)

DOG
CAT
HORSE

In [11]:
x="Welcome"
y="to"
z="Python"
print(x,y,z)

Welcome to Python

In [12]:
c=100
b=25.36
a=1+7j
print(type(a))
print(type(b))
print(type(c))

<class 'complex'>
<class 'float'>
<class 'int'>

In [13]:
x=int(1)
y=int(2.8)
z=int("3")
print(x)
print(y)
print(z)

1
2
3

In [22]:
a="Hello world!"
print(a[10])

d

In [16]:
a="Hello World!"
print(len(a))

12

In [17]:
txt="Welcome to python"
print("come" in txt)

True

In [18]:
txt="Welcome to python"
if "to" in txt:
  print("Yes,'free'is present")

Yes,'free'is present

In [19]:
for x in "Jerusalem":
  print(x)

J
e
r
u
s
a
l
e
m

In [21]:
a=145
b=250
if b>a:
  print("b is greater than a")

b is greater than a

In [25]:
b="World is beautiful"
print(b[0:15:3])

Wlibu

In [29]:
a=b="Welcome to python"
print(b[3:5])
print(b[0:10])
print(b[-5:-2])
print(a.upper())
print(b.lower())

co
Welcome to
yth
WELCOME TO PYTHON
welcome to python

In [30]:
a= "Hello"
b= " World"
c= a + b
print(c)

Hello World

In [31]:
mylist=["DOG","CAT","HORSE"]
print(mylist)

['DOG', 'CAT', 'HORSE']

In [33]:
thislist=["DOG","CAT","HORSE"]
print(len(thislist))

3

In [34]:
thislist=list(("apple","banana","cherry","orange","kiwi","melon","mango"))
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[:4])
print(thislist[-4:-1])

banana
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['orange', 'kiwi', 'melon']

In [35]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)
thislist.insert(1,"orange")
print(thislist)
thislist.remove("banana")
print(thislist)
for x in thislist:
  print(x)
  for i in range(len(thislist)):
    print(thislist[i])

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange']
['apple', 'orange', 'cherry', 'orange']
apple
apple
orange
cherry
orange
orange
apple
orange
cherry
orange
cherry
apple
orange
cherry
orange
orange
apple
orange
cherry
orange

In [36]:
mytuple=("apple","banana","cherry")
thistuple=("apple","banana","cherry")
print(thistuple)
print(thistuple[-3])
print(thistuple[2])

('apple', 'banana', 'cherry')
apple
cherry

In [38]:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[0:6:2])

('apple', 'cherry', 'kiwi')

In [41]:
thisset={"DOG","CAT","HORSE"}
for i in thisset:
  print(i)

HORSE
CAT
DOG

In [42]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [43]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [44]:
a=33
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("b is not greater than a")

a and b are equal

In [45]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [46]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [47]:
i=0
while i<6:
    i+=1
    if i==3:
      continue
    print(i)

1
2
4
5
6

In [48]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [49]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [51]:
def my_function(fname):
  print(fname)
my_function("Welcome to python")

Welcome to python

In [52]:
def my_function(fname,lname):
  print(fname+" "+lname)
my_function("Emil","Reference")

Emil Reference

In [55]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

In [56]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
p1=Person("Joshua",18)
print(p1.name)
print(p1.age)

Joshua
18

In [57]:
def myfunc():
  x = 250
  def myinsidefn():
    print(x)
  myinsidefn()
myfunc()

250

In [60]:
name = input("Enter your name:")
print(f"Hello {name}")

Enter your name:Joshua.
Hello Joshua.